


/* variables globales */
:root{
    --redondo1: 50px;
    --redondo2: 20px;
    --redondo3: 10px;

    --text-color1: black;
    --text-color2: white;

    --color-gray: #cfd0d1;
    --color-green: #43A047;
    --color-alert: #e90c0c;

    --relleno: 15px;

    --color-gradient: #cfd0d1;
    --fuente: 'Roboto', sans-serif;

    --font-size-titulo: 28px;
    --font-size1: 22px;
    --font-size2: 18px;
    --font-size3: 15px;
    --font-size4: 14px;

    --duracion-modal-pop: 190ms;


    --box-shadow:0 0px 0px 0 var(--color-gradient), 0 0px 4px 0 var(--color-gradient);
    --box-shadow1: 0 0px 0px 0 var(--color-gradient), 0 0px 4px 0 #2f3238;
}

.contenedor-opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--text-color2);
    box-shadow: var(--box-shadow);
    width: fit-content;
    height: fit-content;
    border-radius: var(--redondo1);
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    font-family: var(--fuente);
}
.contenedor-opciones button{
    outline: none;
    border: none;
    background: var(--text-color2);
    color: var(--text-color1);
    width: fit-content;
    height: fit-content;
    border-radius: var(--redondo1);
    font-family: var(--fuente);
    font-size: var(--font-size-titulo);
    padding: 10px;
}
.contenedor-opciones button:hover{
    background: var(--text-color1);
    color: var(--text-color2);
}
.contenedor-opciones h2{
    font-size: var(--font-size2);
    font-family: var(--fuente);
    color: var(--text-color1);
    user-select: none;
}


/* codigo css para la seccion del monitoreo en tiempo real */

.monitoreo-contenedor-etiquetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    font-size: var(--font-size-titulo);
    font-family: var(--fuente);
    color: var(--text-color1);

}
.monitoreo-contenedor-etiquetas label{
    margin: 15px;
}

.monitoreo-contenedor-graficas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    font-size: var(--font-size-titulo);
    font-family: var(--fuente);
    color: var(--text-color1);
}

.monitoreo-contenedor-graficas{
    position: relative;
    width: 100%;
    height: 100%;
}
.monitoreo-graficas{
    margin: 10px;
    width: 40%;
    height: 400px;
}

/* fin del codigo para la seccion de monitoreo en tiempo real*/

/* inicio del codigo para la seccion de historico */

.historico-contenedor-filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.historico-contenedor-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.historico-contenedor-input label{
    font-size: var(--font-size1);
    font-family: var(--fuente);
    color: var(--text-color1);
    margin: 10px;
}
.historico-contenedor-input input{
    border: none;
    box-shadow: var(--box-shadow1);
    border-radius: var(--redondo1);
    font-size: var(--font-size2);
    font-family: var(--fuente);
    color: var(--text-color1);
}
.historico-contenedor-filtro button{
    background: var(--text-color1);
    color: var(--text-color2);
    border: none;
    box-shadow: var(--box-shadow1);
    border-radius: var(--redondo1);
    font-size: var(--font-size1);
    font-family: var(--fuente);
    padding: 10px;
}

/* fin del codigo para la seccion de historico*/


/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (max-width: 575px){
    .monitoreo-graficas{
        width: 100%;
        height: 400px;
    }

}