{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sistema de Monitoreo</title>
</head>
<body>

    <div class="contenedor-opciones">
        <button onclick="mostrarOpcionMonitoreo();activarBotonSeleccionado(this);">Monitoreo</button>
        <button onclick="mostrarOpcionHistorico();activarBotonSeleccionado(this);">Histórico</button>
        <button onclick="mostrarOpcionPrediccion();activarBotonSeleccionado(this);">Predicción</button>
    </div>

    <div class="contenedor-total">

    </div>
    
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/herramientas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/monitoreo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/historico.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prediccion.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/seleccionOpcion.js' %}"></script>


</body>
</html>