{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sistema de Monitoreo</title>
</head>
<body>

    <div class="contenedor-opciones">
        <button>Monitoreo</button>
        <button>Histórico</button>
        <button>Predicción</button>
    </div>

    <!-- Contenedor para todo lo referente a la opcion seleccionada-->
    <div class="contenedor-principal">
        <div class="monitoreo-contenedor-etiquetas">
            <label>Temperatura: 22º</label>
            <label>Humedad: 10%</label>
        </div>

        <div class="monitoreo-contenedor-graficas">
            <div class="monitoreo-graficas">
                <canvas class='grafica' id="grafica-monitoreo-temperatura"></canvas>
            </div>
            
            <div class="monitoreo-graficas">
                <canvas class='grafica' id="grafica-monitoreo-humedad"></canvas>
            </div>

        </div>
    </div>


    
    <div class="contenedor-principal">
        <div class="historico-contenedor-filtro">
            <div class="historico-contenedor-input">
                <label>Fecha de inicio</label>
                <input placeholder="fecha" type="datetime-local" name="" id="">
            </div>
            <div class="historico-contenedor-input">
                <label>Fecha final</label>
                <input placeholder="fecha" type="datetime-local" name="" id="">
            </div>
            <button onclick="filtrarHistorico()">Filtrar</button>
        </div>

        <div class="monitoreo-contenedor-graficas">
            <div class="monitoreo-graficas">
                <canvas class='grafica' id="grafica-historico-temperatura"></canvas>
            </div>
            
            <div class="monitoreo-graficas">
                <canvas class='grafica' id="grafica-historico-humedad"></canvas>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/monitoreo.js' %}"></script>
    <script>

        var canvas3 = document.getElementById('grafica-historico-temperatura').getContext('2d');//seleccionamos el canvas
        var canvas4 = document.getElementById('grafica-historico-humedad').getContext('2d');//seleccionamos el canvas

        var chart3 = new Chart(canvas3,obtenerMoldeGrafica('Temperatura'));//le pasamos el grafico y la data para representarlo
        var chart4 = new Chart(canvas4,obtenerMoldeGrafica('Humedad'));//le pasamos el grafico y la data para representarlo

        chart3.update();
        chart4.update(); 
           
        var urlFiltrarHistorico = 'http://'+window.location.hostname+':8001/';


        function filtrarHistorico(){
            let contenedores = document.querySelectorAll('.historico-contenedor-input');
            let fechaInicio = contenedores[0].children[1].value;
            let fechaFinal = contenedores[1].children[1].value;
            
            if(fechaInicio != '' && fechaFinal != ''){
                fetch(urlFiltrarHistorico+'api/addLecturaFiltro?fecha_inicio='+fechaInicio+'&fecha_final='+fechaFinal,{
                method: 'GET',
                headers:{
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem('token')
                },
                mode: 'cors', // Habilita CORS
                }).then(response =>{
                    if(response.ok){// si la respuesta es correcta entonces
                        response.json().then(datos=>{
                            if(datos.lista_temperatura.length >0){
                                chart3.data.labels = datos.lista_fechas;
                                chart3.data.datasets[0].data = datos.lista_temperatura;
                                chart3.update();
                                
                                chart4.data.labels = datos.lista_fechas;
                                chart4.data.datasets[0].data = datos.lista_humedad;
                                chart4.update();
                            }else{
                                alert('no hay datos en ese rango de fechas');
                            }
                        });
                    }else{
                        //procesarRespuesta401(response.clone());
                    }

                }).catch(error=>{console.error(error);});
            }

        }
        
        
    </script>

</body>
</html>